
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@100;500&family=Bricolage+Grotesque:opsz,wght@12..96,600&family=Shantell+Sans&display=swap');

body {
    background-color: rgba(255, 115, 123, 1);
}

.container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 120vh;
    width: 52%;
    padding: 45px 0 0 20px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    word-spacing: 0.1px;
    line-height: 25px;
}

.container p {
    margin-bottom: -10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 20px;
    cursor:pointer;
    font-size: 10px;
    margin-right: 10px;
    color: #fff;
    padding: 5px 0px;
    transition: background-color 0.3s ease;

}

.button1 {
    background-color: transparent;
    border: 2px solid rgb(255, 5, 242);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-family:'Shantell Sans', cursive;
    
}

.end-word{
    color:rgb(198, 9, 188)
}
.button2 {
    background-color: transparent;
    border: 2px solid #a016ea;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-family:'Shantell Sans', cursive;
}

.button3 {
    background-color: transparent;
    border: 2px solid #19ea16;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-family:'Shantell Sans', cursive;
}

.highlighted {
    background-color: #19ea16;
}

.button4 {
    background-color: transparent;
    border: 2px solid #ea1616;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-family:'Shantell Sans', cursive;
}

.button5 {
    background-color: transparent;
    border: 2px solid #16b2ea;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-family:'Shantell Sans', cursive;
}

.beginning-word{
    text-decoration:dotted, blue;
}

.button6 {
    background-color: transparent;
    border: 2px solid #ffd500;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-family:'Shantell Sans', cursive;
}

.button1:hover {
    background-color: rgb(255, 5, 242);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

}

.button2:hover {
    background-color: rgb(151, 5, 255);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.button3:hover {
    background-color: rgb(14, 231, 79);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.button4:hover {
    background-color: rgb(233, 7, 7);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.button5:hover {
    background-color: rgb(5, 176, 255);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.button6:hover {
    background-color: rgb(255, 226, 5);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

